<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0Vl9hYZNB_1lA3PzoTi6KUQ9X22Kd_VA</string>
	<key>GCM_SENDER_ID</key>
	<string>656021875798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ms.CollegeDelivery</string>
	<key>PROJECT_ID</key>
	<string>collegedeliveryapp</string>
	<key>STORAGE_BUCKET</key>
	<string>collegedeliveryapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:656021875798:ios:5b1f5056334659f163dff7</string>
</dict>
</plist>
